/* HERO */
.hero {
  height: 50vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.hero h1 {
  position: relative;
  color: white;
  font-size: 48px;
  font-weight: 700;
}




/* RESPONSIVE */
@media (max-width: 900px) {
  .hero h1 {
    font-size: 36px;
  }
}
