.section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 80px 100px;
  /* background-color: #f4f4f4; */
  text-align: center;
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.icon {
  font-size: 32px;
  color: #888;
}

.card h3 {
  font-size: 26px;
  font-weight: 500;
}

.card p {
  font-size: 14px;
  color: #777;
  line-height: 1.6;
  max-width: 250px;
}
/* Tablet */
@media (max-width: 1024px) {
  .section {
    grid-template-columns: repeat(2, 1fr);
    padding: 60px 40px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .section {
    grid-template-columns: 1fr;
    padding: 50px 20px;
    gap: 50px;
  }

  .card h3 {
    font-size: 20px;
  }
}